<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="utf-8">
    <title>welcome to my blog</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css"  rel="stylesheet">
    <script src="javascripts/jquery-2.1.1.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body class="backpic">
<div class="mavbar navbar-fixed-top">
    <div class="navbar-inner">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Blog</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/login">login</a></li>
                    <li><a href="/home">home</a></li>
                </ul>
                </li>
                </ul>
            </div>
        </nav>


    </div>
</div>