<% include header.html %>

<div class="container">
    <div class="jumbotron">
        <h1>欢迎登陆页面！</h1>
        <p>-------------------------分割线</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="http://weibo.com/1697305105">
            微博</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <a href="#" class="thumbnail">
                    <img src="/images/002.jpg">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="#" class="thumbnail">
                    <img src="/images/002.jpg">
             </a>

        </div>
</div>
</div>
    </div>
<% include footer.html %>